/* Import the Poppins font */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
    background-color: #F5F4F7;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: right;
    padding-top: 15px;
    padding-right: 20px; 
    background-color: #F5F4F7;
}

.container {
    display: flex;
    flex-direction: column; /* untuk mengubah kolom layout */
    justify-content: center;
    align-items: center;
    background-color: #EEF2F6;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px; /* untuk responsif */
}

h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    color: #6A79CB;
    /*background-color: #E6F4F7;
    border-bottom: 1px solid black;*/
    padding: 15px;
    width: auto;
    margin-top: 0;
}

button {
    width: 70%; /* Mengatur lebar tombol */
    margin-top: 10px;
    background-color: #8BA4D6;
    color: black;
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
	left: 450%;
}

button:active {
    transform: scale(0.95);
}
