@import url(https://fonts.googleapis.com/css/css2?family=Poppins&display=swap);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*body{
	/*height: 100%;
	width: 100%;
	background: #F5F4F7;
}*/

.background {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url('bckg.jpg') no-repeat;
	background-color: rgba(137, 161, 169 , 0.3);
	background-position: center;
	background-size: cover;
}

.container {
	display: inline-block;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 30%;
	left: 30%;
	width: 600px;
	height: 350px;
	box-shadow: 9px 15px 20px rgba(0,0,0,0.1);
	background-color:#F5F4F7;
	border-radius: 10px;
}

.container h1 {
	padding-top: 20px;
}

.container form {
	padding: 10px 30px 
	50px 30px;
}

.container form .field {
	height: 50px;
	width: 100%;
	margin-top: 20px;
	position: relative;
}

.container form .field input {
	height: 100%;
	width: 100%;
	outline: none;
	font-size: 20px;
	padding-left: 20px;
	border: 1px solid lightblue;
	border-radius: 10px;
	transition: all 0.3s ease;
}

form .field input[type="submit"] {
	width: 300px;
	position: absolute;
	left: 20%;
	background-color: #7FBCD2;
	color: #FFF;
	border-radius: 15px;
	padding-left: 0;
	margin-top: 10px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s ease;
}

form .field input[type="submit"]:active {
	transform: scale(0.95);
}

/*form reservasi*/
html, body{
	background-color: #F5F4F7;
	font-family: "Poppins", sans-serif;
}

/*.container {
	background-color: #EEF2F6;
	border: 1px solid black;
}*/

/*.container form .post { 
	/*width: 800px; 
	min-height: 400px; 
	border-radius: 5px; 
	padding: 50px 10px;
}*/

/*form input[type="submit"] {
	width: 300px;
	position: absolute;
	left: 20%;
	background-color: #8BA4D6;
	color: black;
	border-radius: 15px;
	padding-left: 0;
	margin-top: 10px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s ease;
}

form, input[type="submit"]:active {
	transform: scale(0.95);
}*/

